* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: 26px;
}
li {
    font-size: 20px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
}
.figure_right {
    float: right;
}
.figure_left {
    float: left;
}
.figcaption {
    text-align: center; 
    background-color: #76c1c1;
    font-size: 18px;
    color: white;
}
a {
    color:#005792; text-decoration: none;
}
.list_1 {
    margin-bottom: 300px;
}
.list_2 {
    margin-bottom: 330px;
}
.content {
    display: flex;
    background-color: #d6eeee;
    border-radius: 10px;
    align-items: center;
}
.content_right {
    margin: 20px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: aliceblue;
}
.content_left {
    margin: 20px;
    padding: 15px;
    border: 3px solid white;
    background-color: aliceblue;
    border-radius: 10px;
}
.header {
    display: flex;
    background-color: #76c1c1;
    align-items:center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header_indent {
    margin-top: 170px;
}
.elements {
    margin: 15px;
    color: white;
}
.elements:hover {
    color: #d0f7f7
}
.container {
    background-color: rgb(217, 236, 253);
    padding: 20px;
    margin-inline: 10px;
    border: 3px solid #76c1c1;
}
.block {
    width: 200px;
    height: 200px;
    background-color: #76c1c1;
    margin-left: auto;
    margin-right: auto;
}
.image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.container_2 {
    background-color: rgb(217, 236, 253);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px;
    margin-inline: 10px;
    border: 3px solid #76c1c1;
}
.block_2 {
    width: 200px;
    height: 200px;
    background-color: #76c1c1;
    margin-left: auto;
    margin-right: auto;
}
.container_3 {
    background-color: rgb(217, 236, 253);
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-inline: 10px;
    border: 3px solid #76c1c1;
}
.block_3 {
    width: 200px;
    height: 200px;
    background-color: #76c1c1;
    margin: 20px;
}
.position {
    display: flex;
    background-color:  rgb(217, 236, 253);
    border: 3px solid #76c1c1;
    padding: 40px;
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.square {
    width: 200px;
    height: 200px;
    background-color: orange;
}
.square_absolute {
    width: 200px;
    height: 200px;
    top: 140px;
    left: 140px;
    background-color:coral;
    position: absolute;
}
.square_relative {
    width: 200px;
    height: 200px;
    top: 200px;
    background-color:crimson;
    position: relative;
}
.fixed {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}
